 button {
    display:block;
    margin: 10px;
    
 }
 .one{
    color: rgb(40, 122, 122);
    border-radius:25px;
    background-color: rgb(244, 246, 248);
    border: 5px solid aquamarine;
    padding: 5px  30px;
}
.two{
    color: white;
    background-color: green;
    border: 0px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.three {
    color: white;
    background-color: blue;
    border-color: black;
    padding: 5px 10px;
    box-shadow: 7px 3px 5px black;
}
.two:hover{
    background-color: black;
    cursor: pointer;
}
.one:hover{
    background-color: aquamarine;
    cursor: pointer;
}
.three:hover{
    background-color: black;
    cursor: pointer;
}